@import "../valo/valo.scss";

@mixin newInvitationTheme 
{
    @include valo;
    
	.NewInvitationView
	{
		width: 100%;
		height: 100%;


		display: -webkit-flex; 
		display: flex;
		justify-content: space-between;
		align-items:center;
		flex-direction: column;
	}
	.NewInvitationLabel
	{
		width: 100%;
		height: 15%;
		border: solid 1px #A39A94;
		box-sizing:border-box;

		display: -webkit-flex; 
		display: flex;
		justify-content: space-around;
		align-items:center;
	}
	.NewInvitationTable
	{
		width: 100%;
		height: 70%;
		border: solid 1px #A39A94;
		box-sizing:border-box;

		display: -webkit-flex; 
		display: flex;
		justify-content: space-around;
		align-items:center;
		flex-direction: column;
	}
	.NewInvitationButtons
	{
		width: 100%;
		height: 10%;
		border: solid 1px #A39A94;
		box-sizing:border-box;

		display: -webkit-flex; 
		display: flex;
		justify-content: space-around;
		align-items:center;
	}
	.NewInvitationGoBtn
	{
		width: 20%;
		height: 90%;
		border: solid 1px #A39A94;
		box-sizing:border-box;
                border-radius: 5px;
		display: -webkit-flex; 
		display: flex;
		justify-content: space-around;
		align-items:center;
	}
}
@include newInvitationTheme;
