<div class="addStepView">
    <div class="addStepPanelWithInformation">
        <div class="addStepFirstColumn">
            <div class="addStepImageWithButton">
                <div class="addStepImage" data-location="addStepImage">

                </div>
                <div class="addStepButtonAddImage" data-location="addStepButtonAddImage">

                </div>
                <div class="addStepNameLable" data-location="addStepNameLable">

                </div>
            </div>
            <div class="addStepNameAndLable">
                <div class="addStepName">

                </div>
                <div class="addStepNameLable">

                </div>
            </div>
        </div>
        <div class="addStepSecondColumn">
            <div class="addStepCaptionAndItems">
                <div class="addStepCaption" data-location="addStepCaption">

                </div>
                <div class="addStepItems">
                    <div class="addStepItem">
                        <div class="addStepSubItemLable" data-location="addStepItem1Lable">

                        </div>
                        <div class="addStepSubItemContent" data-location="addStepItem1Content">
                            
                        </div>
                    </div>
                    <div class="addStepItem">
                        <div class="addStepSubItemLable" data-location="addStepItem2Lable">

                        </div>
                        <div class="addStepSubItemContent" data-location="addStepItem2Content">
                            <div>Денис, добавь сюда таблицу</div>
                        </div>
                    </div>
                    <div class="addStepItem">
                        <div class="addStepSubItemLable" data-location="addStepItem3Lable">

                        </div>
                        <div class="addStepSubItemContent" data-location="addStepItem3Content">

                        </div>
                    </div>
                    <div class="addStepItem">
                        <div class="addStepSubItemLable" data-location="addStepItem4Lable">

                        </div>
                        <div class="addStepSubItemContent" data-location="addStepItem4Content">
                            <div>Денис, добавь сюда таблицу</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="addStepPanelWithButtons">
        <div class="addStepDoneBtn" data-location="addStepDoneBtn">

        </div>
        <div class="addStepCancelBtn" data-location="addStepCancelBtn">

        </div>
    </div>
</div>