<div class="CreateInvitationView">
        <div class="CreateInvitationLabel" data-location="CreateInvitationLabel">
		
	</div>
	<div class="CreateInvitationInformation">
		<div class="CreateInvitationColumn1">
			<div class="CreateInvitationAreaAddName">
				<div class="CreateInvitationCBPlace" data-location="CreateInvitationCBPlace">
				
				</div>
				<div class="CreateInvitationAddNameBtn" data-location="CreateInvitationAddNameBtn">
					
				</div>
			</div>
		</div>
		<div class="CreateInvitationColumn2">
			<div class="CreateInvitationTableWithLable">
				<div class="CreateInvitationLable" data-location="CreateInvitationLable">

				</div>
				<div class="CreateInvitationTable" data-location="CreateInvitationTable">
					
				</div>
			</div>
		</div>
	</div>
	<div class="CreateInvitationButtons">
		<div class="CreateInvitationGoBtn" data-location="CreateInvitationGoBtn">

		</div>
	</div>
</div>