<div class="CreateInvitationView">
        <div class="CreateInvitationLabel" data-location="CreateInvitationLabel">
		
	</div>
	<div class="CreateInvitationInformation">
		<div class="CreateInvitationColumn1">
			<div class="CreateInvitationAreaAddName">
				<div class="CreateInvitationCBPlace">
				
				</div>
				<div class="CreateInvitationAddNameBtn" id="CreateInvitationAddNameBtn">
					<div>Добавить участника</div>
				</div>
			</div>
		</div>
		<div class="CreateInvitationColumn2">
			<div class="CreateInvitationTableWithLable">
				<div class="CreateInvitationLable" data-location="CreateInvitationLable">
					<div>Список участников</div>
				</div>
				<div class="CreateInvitationTable" data-location="CreateInvitationTable">
					
				</div>
			</div>
		</div>
	</div>
	<div class="CreateInvitationButtons">
		<div class="CreateInvitationGoBtn" id="CreateInvitationGoBtn">
			<div>Начать</div>
		</div>
	</div>
</div>