<div class="createRecipeView">
    <div class="panelWithInformation">
        <div class="panelWithImageAndLable">
            <div class="CreateReceipesImage" data-location="CreateReceipesImage">
            </div>
            <div class="CreateReceipesLable">
                <div class="createReceipeLoadFotoBtn" id="createReceipeLoadFotoBtn">
                        Загрузить фото
                </div>
            </div>
        </div>
        <div class="createReceipeInputsAndLables">
            <div class="createReceipeLables">
                <div class="createReceipeInputCatalog" data-location="createReceipeLableCatalog">

                </div>
                <div class="createReceipeInputCatalog" data-location="createReceipeLableCatalog2">

                </div>
                <div class="createReceipeInputDescription" data-location="createReceipeLableDescriptionCatalog">

                </div>
                <div class="createReceipeInputReceipeName" data-location="createReceipeLableReceipeName">

                </div>
                <div class="createReceipeInputDescription" data-location="createReceipeLableDescriptionRecipe">

                </div>
                <div class="createReceipeInputPublicOrPrivate" data-location="createReceipeLablePublicOrPrivate">

                </div>
                <div class="createReceipeInputTags" data-location="createReceipeLableTags">

                </div>
            </div>
            <div class="createReceipeInputs">
                <div class="createReceipeInputCatalog" data-location="createReceipeInputCatalog">

                </div>
                <div class="createReceipeInputCatalog" data-location="createReceipeInputCatalog2">

                </div>
                <div class="createReceipeInputDescription" data-location="createReceipeInputDescriptionCatalog">

                </div>
                <div class="createReceipeInputReceipeName" data-location="createReceipeInputReceipeName">

                </div>
                <div class="createReceipeInputDescription" data-location="createReceipeInputDescriptionRecipe">

                </div>
                <div class="createReceipeInputPublicOrPrivate" data-location="createReceipeInputPublicOrPrivate">

                </div>
                <div class="createReceipeInputTags" data-location="createReceipeInputTags">

                </div>
            </div>
        </div>
    </div>
    <div class="panelWithButtons">
        <div class="createRecipeCancelBtn" id="createRecipeCancelBtn">
            Отмена
        </div>
        <div class="createRecipeDoneBtn" id="createRecipeDoneBtn">
            Перейти к построению рецепта
        </div>
    </div>
</div>