<div class="CreateReceipeView">
	<div class="createReceipeImage" data-location="createReceipeImage">
		
	</div>
	<div class="createReceipeInputsAndLables">
		<div class="createReceipeLables">
                        <div class="createReceipeInputCatalog" data-location="createReceipeLableCatalog">
				
			</div>
			<div class="createReceipeInputReceipeName" data-location="createReceipeLableReceipeName">
				
			</div>
			<div class="createReceipeInputDescription" data-location="createReceipeLableDescription">
				
			</div>
			<div class="createReceipeInputPublicOrPrivate" data-location="createReceipeLablePublicOrPrivate">
				
			</div>
			<div class="createReceipeInputTags" data-location="createReceipeInputTags">
				
			</div>
                        <div id="emptyBtn"></div>
		</div>
		<div class="createReceipeInputs">
                        <div class="createReceipeInputCatalog" data-location="createReceipeInputCatalog">
				
			</div>
			<div class="createReceipeInputReceipeName" data-location="createReceipeInputReceipeName">
				
			</div>
			<div class="createReceipeInputDescription" data-location="createReceipeInputDescription">
				
			</div>
			<div class="createReceipeInputPublicOrPrivate" data-location="createReceipeInputPublicOrPrivate">
				
			</div>
			<div class="createReceipeInputTags" data-location="createReceipeInputTags">
				
			</div>
                        <div id="createReceipeBtn" data-location="createReceipeBtn"></div>
		</div>
	</div>
</div>