<div class="NewInvitationView">        
        <div class="NewInvitationLabel" data-location="NewInvitationLabel">
		
	</div>
	<div class="NewInvitationTable" data-location="NewInvitationTable">
            <div class="NewInvitationFirstColumn">
                    <div class="NewInvitationName" data-location="NewInvitationNamel">

                    </div>
                    <div class="NewInvitationLastName" data-location="NewInvitationLastNamel">

                    </div>
                    <div class="NewInvitationReceipeName" data-location="NewInvitationReceipeNamel">

                    </div>
                    <div class="NewInvitationDescription" data-location="NewInvitationDescriptionl">

                    </div>
            </div>
            <div class="NewInvitationSecondColumn">
                    <div class="NewInvitationName" data-location="NewInvitationName">

                    </div>
                    <div class="NewInvitationLastName" data-location="NewInvitationLastName">

                    </div>
                    <div class="NewInvitationReceipeName" data-location="NewInvitationReceipeName">

                    </div>
                    <div class="NewInvitationDescription" data-location="NewInvitationDescription">

                    </div>
            </div>
	</div>
	<div class="NewInvitationButtons">
		<div class="NewInvitationGoBtn" data-location="NewInvitationGoBtn">
			
		</div>
	</div>
</div>