<div class="noReadyReceipeView">
    <div class="noReadyReceipeViewPanelWithImage" data-location="noReadyReceipeViewPanelWithImage">

    </div>
    <div class="noReadyReceipeViewPanelWithInformation">
        <div class="noReadyReceipeViewLable"  data-location="noReadyReceipeViewLable">

        </div>
        <div class="noReadyReceipeViewInformation">
            <div class="noReadyReceipeViewFirstColumn">
                <div class="noReadyReceipeViewReceipeName"  data-location="noReadyReceipeViewReceipeNameIn1Col">

                </div>
                <div class="noReadyReceipeViewReceipeDescription"  data-location="noReadyReceipeViewReceipeDescriptionIn1Col">

                </div>
            </div>
            <div class="noReadyReceipeViewSecondColumn">
                <div class="noReadyReceipeViewReceipeName"  data-location="noReadyReceipeViewReceipeNameIn2Col">

                </div>
                <div class="noReadyReceipeViewReceipeDescription"  data-location="noReadyReceipeViewReceipeDescriptionIn2Col">

                </div>
            </div>
        </div>
        <div class="noReadyReceipeViewButtons">
            <div class="noReadyReceipeViewCancelBtn" data-location="noReadyReceipeViewCancelBtn">

            </div>
            <div class="noReadyReceipeViewOkBtn" data-location="noReadyReceipeViewOkBtn">

            </div>
        </div>
    </div>
</div>