<div class="passageRecipeView">
        <div class="panelWithInformation">
		<div class="panelWithImageAndLable">
			<div class="PassagesImage" data-location="PassagesImage">
                            
			</div>
			<div class="PassagesLable">
                            
			</div>
		</div>
		<div class="panelWithTextAndTables">
			<div class="PassagesDescription" data-location="PassagesDescription">
                            
			</div>
			<div class="PassagesTables">
				<div class="PassagesIngredientsTable">
					<div>Ingredients Table</div>
				</div>
				<div class="PassagesResoursesTable">
					<div>Resourses Table</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panelWithButtons">
		<div class="PassagesGrafBtn" id="PassagesGrafBtn">
			Показать граф
		</div>
                <div class="PassagesNextBtn" id="PassagesNextBtn">
			Следующий шаг
		</div>
	</div>
</div>