<div class="passageRecipeView">
        <div class="panelWithInformation">
		<div class="panelWithImageAndLable">
			<div class="PassagesImage" data-location="PassagesImage">
                            
			</div>
			<div class="PassagesLable">
                            
			</div>
		</div>
		<div class="panelWithTextAndTables">
			<div class="PassagesDescription" data-location="PassagesDescription">
                            
			</div>
			<div class="PassagesTables">
				<div class="PassagesIngredientsTable">
					<div>Ingredients Table</div>
				</div>
				<div class="PassagesResoursesTable">
					<div>Resourses Table</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panelWithButtons">
		<div class="PassagesNextBtn" id="PassagesNextBtn">
			<div>Следующий шаг</div>
		</div>
		<div class="PassagesGrafBtn" id="PassagesGrafBtn">
			<div>Показать граф</div>
		</div>
	</div>
</div>