<div class="shortViewOfRecipe">
    <div class="panelWithGraf" id="mynetwork" data-location="panelWithGraf">

    </div>
    <div class="panelWithDescriptionOfNode">
        <div class="receipeParts">
            <div class="receipePartsLabel">Ингредиенты</div>
            <div class="receipePartsTable"></div>
            <div class="addReceipePartsBtn" id="addReceipePartsBtn">Добавить</div>
        </div>
        <div class="receipeResourses">
            <div class="receipeResoursesLabel">Ресурсы</div>
            <div class="receipeResoursesTable"></div>
            <div class="addReceipeResoursesBtn" id="addReceipeResoursesBtn">Добавить</div>
        </div>
        <div class="receipeControls">
            <div class="receipeControlsLabel">Действия</div>
            <div class="networkControls">
                    <div id="networkAddNode">Добавить Ноду</div>
                    <div id="networkAddEdge">Добавить Связь</div>
                    <div id="networkEditEdge">Редактирование Связи</div>
                    <div id="networkDeleteElement">Удаление Елемента</div>
                    <div id="networkCreateReceipeBtn">Создать рецепт</div>
            </div>
        </div>
    </div>
</div>