<div class="shortViewOfRecipe">
    
    
    <div id="network-popUp">
        <span id="operation">node</span> <br>
        <table style="margin:auto;">
            <tr>
                <td>id</td><td><input id="node-id" value="new value" /></td>
            </tr>
            <tr>
                <td>label</td><td><input id="node-label" value="new value" /></td>
            </tr>
            <tr>
                <td>image</td><td><input id="node-image" value="new value" /></td>
            </tr>
        </table>
        <input type="button" value="save" id="saveButton" />
        <input type="button" value="cancel" id="cancelButton" />
    </div>
    
    
    
    
    <div class="panelWithGraf" id="mynetwork" data-location="panelWithGraf">
		
    </div>
    <div class="panelWithDescriptionOfNode">
        
    </div>
</div>