<div class="ReceipeViewer">
	<div class="ReceipeViewerPanelWithGraf" id="mynetwork" data-location="panelWithGraf">
		
	</div>
	<div class="ReceipeViewerPanelWithDescriptionOfNode">
		<div class="ReceipeViewerReceipeImage" data-location="ReceipeViewerReceipeImage">
		
		</div>
		<div class="ReceipeViewerReceipeDescriptionFields">
			<div class="ReceipeViewerReceipeDescriptionFieldsLabel">Описание шага</div>
			<div class="ReceipeViewerReceipeDescription" data-location="ReceipeViewerReceipeDescription">
				
			</div>
		</div>	
		<div class="ReceipeViewerReceipeControls">
			<div class="ReceipeViewerReceipeControlsLabel">Управление</div>
			<div class="ReceipeViewerNetworkControls">
				<div id="ReceipeViewerParalReceipeBtn"><div>Распараллелить рецепт</div></div>
			</div>
		</div>
	</div>
	<div class="receipeControls2">
            <div class="receipeControlsLabel">Действия</div>
            <div class="networkControls">
                    <div id="networkAddNodeBtn">Добавить Ноду</div>
                    <div id="networkAddEdge">Добавить Связь</div>
                    <div id="networkEditEdge">Редактирование Связи</div>
                    <div id="networkDeleteElement">Удаление Елемента</div>
                    <div id="networkCreateReceipeBtn">Создать рецепт</div>
            </div>
        </div>
</div>