<div class="ReceipeViewer">
	<div class="ReceipeViewerPanelWithGraf" id="mynetwork" data-location="panelWithGraf">
		
	</div>
	<div class="ReceipeViewerPanelWithDescriptionOfNode">
		<div class="ReceipeViewerReceipeImage" data-location="ReceipeViewerReceipeImage">
		
		</div>
		<div class="ReceipeViewerReceipeDescriptionFields">
			<div class="ReceipeViewerReceipeDescriptionFieldsLabel">Описание шага</div>
			<div class="ReceipeViewerReceipeDescription" data-location="ReceipeViewerReceipeDescription">
				
			</div>
		</div>	
		<div class="ReceipeViewerReceipeControls">
			<div class="ReceipeViewerReceipeControlsLabel">Управление</div>
			<div class="ReceipeViewerNetworkControls">
				<div id="ReceipeViewerParalReceipeBtn">Распараллелить рецепт</div>
			</div>
		</div>
	</div>
	<div class="receipeControls2">
            <div class="networkControls2">
                    <div id="networkAddNodeBtn" class="networkAddNodeBtn"></div>
                    <div id="networkAddEdge" class="networkAddEdge"></div>
                    <div id="networkEditEdge" class="networkEditEdge"></div>
                    <div id="networkDeleteElement" class="networkDeleteElement"></div>
                    <div id="networkCreateReceipeBtn" class="networkCreateReceipeBtn"></div>
            </div>
        </div>
</div>