<div id = "userPage">
    <div id = "leftBlock">
        <img src="https://cs.pikabu.ru/images/big_size_comm/2013-12_6/13880049494467.jpg" alt="Фото пользователя"
                        id = "userPicture"> <br>

        <button>Загрузить фото</button><br>
        <button>Изменить пароль</button><br>


    </div>
    <div id = "mainBlock">
        <p>Информация о пользователе</p>

        <hr>
        <div class = "first-raw">
            <p>Имя</p>
            <p class = "input_fields"><input maxlength="25" size="40"></p>


            <p>Фамилия</p>
            <p class = "input_fields"><input maxlength="25" size="40"></p>

        </div>

        <div class="second-raw">
            <p>Псевдоним</p>
            <p class = "input_fields"><input maxlength="25" size="40"></p>

            <p>Почта</p>
            <p class = "input_fields"><input maxlength="25" size="40"></p>
        </div>

        <p>Дата рождения</p>
         <input type="date" id="date" name="date"/>

        <p>О себе</p>
        <p><textarea id="userinfo" name="comment"></textarea></p>

        <button id = "save">Сохранить</button>
        <button>Отмена</button>
    </div>
</div>