<div class="userPageView">
    <div class="userPagePanelWithInformation">
        <div class="userPagePanelWithImageAndButtons">
            <div class="userPageImage" data-location="userPageImage">
            </div>
            <div class="userPageButtonsBottomImage">
                <div class="userPageLoadFotoBtn" id="userPageLoadFotoBtn">
                    Загрузить фото
                </div>
                <div class="userPageChangePasswordButtonBtn" id="userPageChangePasswordButtonBtn">
                    Изменить пароль
                </div>
            </div>
        </div>
        <div class="userPagePanelWithHeaderAndFields">
            <div class="userPageHeader">
                <div class="userPageHeaderText">Информация о пользователе</div>
                <div class="userPageHeaderHR"><hr style="color: black;"></div>
            </div>
            <div class="userPageColumnsWithLablesAndFields">
                <div class="userPagePanelWithLables">
                    <div class="userPageNameFieldAndLable">
                        <div>Имя</div>
                    </div>
                    <div class="userPageSecondNameFieldAndLable">
                        <div>Фамилия</div>
                    </div>
                    <div class="userPageNicknameFieldAndLable">
                        <div>Псевдоним</div>
                    </div>
                    <div class="userPageMailFieldAndLable">
                        <div>Почта</div>
                    </div>
                    <div class="userPageBirthDateFieldAndLable">
                        <div>Дата рождения</div>
                    </div>
                    <div class="userPageAboutOneselfFieldAndLable">
                        <div>Обо мне</div>
                    </div>
                </div>
                <div class="userPagePanelWithFields">
                    <div class="userPageNameFieldAndLable">
                        <div data-location="userPageNameFieldAndLable"></div>
                    </div>
                    <div class="userPageSecondNameFieldAndLable">
                        <div data-location="userPageSecondNameFieldAndLable"></div>
                    </div>
                    <div class="userPageNicknameFieldAndLable">
                        <div data-location="userPageNicknameFieldAndLable"></div>
                    </div>
                    <div class="userPageMailFieldAndLable">
                        <div data-location="userPageMailFieldAndLable"></div>
                    </div>
                    <div class="userPageBirthDateFieldAndLable">
                        <div data-location="userPageBirthDateFieldAndLable"></div>
                    </div>
                    <div class="userPageAboutOneselfFieldAndLable" data-location="userPageAboutOneselfFieldAndLable">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="userPagePanelWithButtons">
        <div class="userPageSaveBtn" id="userPageSaveBtn">
            Сохранить
        </div>
        <div class="userPageCancelBtn" id="userPageCancelBtn">
            Отмена
        </div>
    </div>
</div>