@import "../valo/valo.scss";

@mixin userPageViewTheme 
{
    @include valo;
    .userPageView
    {
        width: 100%;
        height: 100%;


        display: -webkit-flex; 
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-direction: column;
    }
    .userPagePanelWithInformation
    {
        width: 100%;
        height: 90%;
        border: solid 2px grey;
        box-sizing:border-box;

        display: -webkit-flex; 
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    .userPagePanelWithButtons
    {
        width: 100%;
        height: 10%;
        border: solid 2px grey;
        box-sizing:border-box;

        display: -webkit-flex; 
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    .userPagePanelWithImageAndButtons
    {
        width: 30%;
        height: 100%;
        border: solid 2px green;
        box-sizing:border-box;

        display: -webkit-flex; 
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-direction: column;
    }
    .userPageImage
    {
        width: 100%;
        height: 60%;
        border: solid 2px yellow;
        box-sizing:border-box;






        display: -webkit-flex; 
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .userPageButtonsBottomImage
    {
        width: 100%;
        height: 40%;
        border: solid 2px yellow;
        box-sizing:border-box;

        display: -webkit-flex; 
        display: flex;
        justify-content: flex-start;
        align-items:center;
        flex-direction: column;
    }
    .userPageSaveBtn
    {
        width: 15%;
        height: 85%;
        border: solid 2px orange;
        box-sizing:border-box;






        display: -webkit-flex; 
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .userPageCancelBtn
    {
        width: 15%;
        height: 85%;
        border: solid 2px orange;
        box-sizing:border-box;






        display: -webkit-flex; 
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .userPageLoadFotoBtn
    {
        width: 100%;
        height: 17%;
        border: solid 2px orange;
        box-sizing:border-box;






        display: -webkit-flex; 
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .userPageChangePasswordButtonBtn
    {
        width: 100%;
        height: 17%;
        border: solid 2px orange;
        box-sizing:border-box;






        display: -webkit-flex; 
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .userPagePanelWithHeaderAndFields
    {
        width: 70%;
        height: 100%;
        border: solid 2px green;
        box-sizing:border-box;

        display: -webkit-flex; 
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction: column;
    }
    .userPageHeader
    {
        width: 100%;
        height: 10%;
        border: solid 2px blue;
        box-sizing:border-box;






        display: -webkit-flex; 
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    .userPagePanelWithLables
    {
        width: 20%;
        height: 100%;
        border: solid 2px blue;
        box-sizing:border-box;

        display: -webkit-flex; 
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction: column;
    }
    .userPagePanelWithFields
    {
        width: 80%;
        height: 100%;
        border: solid 2px blue;
        box-sizing:border-box;

        display: -webkit-flex; 
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction: column;
    }
    .userPageNameFieldAndLable
    {
        width: 100%;
        height: 6%;
        border: solid 2px blue;
        box-sizing:border-box;






        display: -webkit-flex; 
        display: flex;
        justify-content: flex-start;
        align-items:center;
    }
    .userPageSecondNameFieldAndLable
    {
        width: 100%;
        height: 6%;
        border: solid 2px blue;
        box-sizing:border-box;






        display: -webkit-flex; 
        display: flex;
        justify-content: flex-start;
        align-items:center;
    }
    .userPageNicknameFieldAndLable
    {
        width: 100%;
        height: 6%;
        border: solid 2px blue;
        box-sizing:border-box;






        display: -webkit-flex; 
        display: flex;
        justify-content: flex-start;
        align-items:center;
    }
    .userPageMailFieldAndLable
    {
        width: 100%;
        height: 6%;
        border: solid 2px blue;
        box-sizing:border-box;






        display: -webkit-flex; 
        display: flex;
        justify-content: flex-start;
        align-items:center;
    }
    .userPageBirthDateFieldAndLable
    {
        width: 100%;
        height: 6%;
        border: solid 2px blue;
        box-sizing:border-box;






        display: -webkit-flex; 
        display: flex;
        justify-content: flex-start;
        align-items:center;
    }
    .userPageAboutOneselfFieldAndLable
    {
        width: 100%;
        height: 55%;
        border: solid 2px blue;
        box-sizing:border-box;
    }
    .userPageColumnsWithLablesAndFields
    {
        width: 100%;
        height: 85%;
        border: solid 2px blue;
        box-sizing:border-box;

        display: -webkit-flex; 
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    .userPageHeaderText
    {
        width: 30%;
    }
    .userPageHeaderHR
    {
        width: 70%;
    }
}
@include userPageViewTheme;
