@import "../valo/valo.scss";

@mixin userPageViewTheme 
{
    @include valo;
    .userPageView
    {
        background-color: white;
        width: 100%;
        height: 100%;
        border: solid 1px black;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-direction: column;
    }
    .userPagePanelWithInformation
    {
        width: 100%;
        height: 90%;

        box-sizing:border-box;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    .userPagePanelWithButtons
    {
        width: 100%;
        height: 10%;

        box-sizing:border-box;
        background-color: white;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    .userPagePanelWithImageAndButtons
    {
        width: 30%;
        height: 100%;

        box-sizing:border-box;
        display: -webkit-flex;
        display: flex;
        justify-content:top;
        align-items:center;
        flex-direction: column;
        margin-left: 1px;
          /* overflow: hidden;
           position: relative;
           width: 100%;
           padding-bottom: 100%;*/

    }
    .userPageImage
    {
        width: 100%;


        box-sizing:border-box;

        display: -webkit-flex;
        display: flex;
        justify-content: top;
        align-items:center;
            position: inherit;
            top: 2;
       
    }
    .userPageImageWrapper
    {
        overflow: hidden;
       position: relative;
       width: 100%;
       padding-bottom: 100%; // пропорции блока определяются здесь
    }
    .userPageButtonsBottomImage
    {
        width: 100%;
        height: 40%;

        box-sizing:border-box;

        display: -webkit-flex;
        display: flex;
        justify-content: flex-start;
        align-items:center;
        flex-direction: column;
    }
    
    .userPagePanelWithHeaderAndFields
    {
        width: 70%;
        height: 100%;
        margin-left: 3%;
        box-sizing:border-box;

        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction: column;
    }
    .userPageHeader
    {
        width: 100%;
        height: 10%;

        box-sizing:border-box;

        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    .userPagePanelWithLables
    {
        width: 20%;
        height: 100%;

        box-sizing:border-box;

        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction: column;
    }
    .userPagePanelWithFields
    {
        width: 80%;
        height: 100%;

        box-sizing:border-box;

        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction: column;
    }
    .userPageNameFieldAndLable
    {
        width: 100%;
        height: 6%;

        box-sizing:border-box;

        display: -webkit-flex;
        display: flex;
        justify-content: flex-start;
        align-items:center;
    }
    .userPageSecondNameFieldAndLable
    {
        width: 100%;
        height: 6%;

        box-sizing:border-box;

        display: -webkit-flex;
        display: flex;
        justify-content: flex-start;
        align-items:center;
    }
    .userPageNicknameFieldAndLable
    {
        width: 100%;
        height: 6%;

        box-sizing:border-box;

        display: -webkit-flex;
        display: flex;
        justify-content: flex-start;
        align-items:center;
    }
    .userPageMailFieldAndLable
    {
        width: 100%;
        height: 6%;

        box-sizing:border-box;

        display: -webkit-flex;
        display: flex;
        justify-content: flex-start;
        align-items:center;
    }
    .userPageBirthDateFieldAndLable
    {
        width: 100%;
        height: 6%;

        box-sizing:border-box;

        display: -webkit-flex;
        display: flex;
        justify-content: flex-start;
        align-items:center;
    }
    .userPageAboutOneselfFieldAndLable
    {
        width: 100%;
        height: 55%;

        box-sizing:border-box;
    }
    .userPageColumnsWithLablesAndFields
    {
        width: 100%;
        height: 85%;

        box-sizing:border-box;

        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    .userPageHeaderText
    {
        width: 30%;
    }
    .userPageHeaderHR
    {
        width: 70%;
    }
    .buttons{
        width:50%;
        height:27%;
        border: solid 1px #A39A94;
        box-sizing:border-box;
        text-align: center;
        border-radius: 6px;
        width: 25%;
        height: 85%;
        box-sizing:border-box;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items:center;
    }
}
@include userPageViewTheme;
